# Configuración de Lombok para Spring Boot 3.5.0
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += org.springframework.qualifier.Value
lombok.log.fieldName = log
lombok.accessors.fluent = false
lombok.accessors.chain = false
